$new-borrowing: #dd3232;
$end-borrowing: #f1bf34;
$borrowings-history: #dcdf2d;
$view-inventory: #a7885a;
$edit-inventory: #6c6c6c;
$edit-users: #6973f7;
$good: #1fcc1f;
$bad: #d60716;

$colors: ("new-borrowing": ($new-borrowing, #fff),
  "end-borrowing": ($end-borrowing, #fff),
  "borrowings-history": ($borrowings-history, #fff),
  "view-inventory": ($view-inventory, #fff),
  "edit-inventory": ($edit-inventory, #fff),
  "edit-users": ($edit-users, #fff),
  "good": ($good, #fff),
  "bad": ($bad, #fff)
);
