.borrowed-item-name {
    font-weight: bold;
}

.late-message {
    font-weight: bold;
}

.btn-return-borrowing {
    width: 100%;
}

#no-borrowing-div {
    text-align: center;
    font-style: italic;
}