.flag-icon {
    font-size:20px;
}

/* SUB-TITLES */

h2 {
  margin-left: 35px;
}

.h2-hr {
  margin-top: 0px;
  border-color: black;
  width: 30%;
  margin-left: 20px;
}

/* MODALS */

.modal-hr
{
  margin-top: 0px;
  border-color: black;
  width: 30%;
  margin-left: 0px;
}

.modal-body-row-label {
  font-weight: bold;
  float: left;
}

.modal-body-row-input-span {
  display: block;
  overflow: hidden;
  padding-left: 5px;
}

.modal-body-row-input {
  width: 100%;
}

.modal-body-row-bottom-margin {
    margin-bottom: 5px;
}

/* MENU */

.menu-icon
{
  font-size: 60px;
}

.menu-text
{
  font-size: 30px;
  font-weight: bold;
}

.menu-button
{
  padding-bottom: 30px !important;
  padding-top: 20px !important;
  white-space: normal !important;
  height: 100%;
}

#footer-hr
{
  margin-top: 0px;
  margin-bottom: 2px;
}

#github-link
{
    float: right;
    color: black;
}