/* SEARCH BAR BOX SHADOW */
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: #dd3232 !important;
}

.remove-item-borrow-list-button {
    height: 20px;
    width: 20px;
    padding: 0px !important;
    font-size: 12px !important;
    margin-bottom: 2px !important;
}

.inventory-item-button {
    width: 100%;
}

.in-button-hr {
    margin-top: 2px;
    margin-bottom: 0px;
}

.inventory-item-button-footer {
    font-style: italic;
    text-align: right;
    font-size: 10px;
}