/* SEARCH BAR BOX SHADOW */
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: #a7885a !important;
}

.custom-select:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: #a7885a !important;
}

.inventory-item {
    width: 100%;
    white-space: normal !important;
    height: 100%;
    pointer-events: none;
}

.inventory-item-footer {
    font-style: italic;
    text-align: right;
    font-size: 10px;
}

.inventory-item-precision {
    font-size: 12px;
    text-align: left;
}
