body
{
	min-width: 600px; 
	max-width: 100%;
}

header
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#menu-return {
    font-weight: bold !important;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
    margin-top: 5px;
}

#checkout-link {
    font-size: 50px;
    text-decoration: none;
    color: #000000;
}

#menu-return:hover, #checkout-link:hover {
    text-decoration: none;
    color: #626262;
}

#checkout-counter {
    background-color: #dd3232;
}

/* TITLE */

h1 {
    font-weight: bold !important;
    text-align: center;
}

.h1-hr {
    margin-top: 0px;
    border-color: black;
    width: 50%;
}

.no-display {
  display: none;
}