body
{
	max-width: 100%;
}

#main-header
{
    padding-top: 10px;
}

#menu-return {
    font-weight: bold !important;
    font-size: 30px;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 15px;
}

#checkout-column {
    text-align: right;
}

#checkout-link {
    font-size: 50px;
    text-decoration: none;
    margin-right: 15px;
}

#menu-return:hover, #checkout-link:hover {
    text-decoration: none;
}

#checkout-counter {
    background-color: #dd3232;
}

/* TITLE */

h1 {
    font-weight: bold !important;
    text-align: center;
}

.h1-hr {
    margin: 0;
}

.no-display {
  display: none;
}

.error-text {
    font-style: italic;
    color: red;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.no-mb {
    margin-bottom: 0 !important;
}

button:not(.button) {
    background: none;
    border: none;
    cursor: pointer;
}
