.remove-genre-button {
    height: 20px;
    width: 20px;
}

.plus-li {
    list-style: none !important;
    white-space: nowrap;
}

.plus-li:before {
    content: '+';
    margin-right: 4px;
}

.number-input {
    width: 50px !important;
}

ul {
    padding-left: 15px;
}

.table-edit-inventory {
    min-width: 1400px;
}

td {
    vertical-align: middle !important;
}

.small-margin-bottom {
    margin-bottom: 2px;
}

.field-flag {
    font-size: 22px;
}