.inline-label {
    padding-right: 5px;
    line-height: 2;
}

.inventory-item-card-hr {
    background-color: #b5b5b5;
}

.inventory-item-card-button:focus .inventory-item-card-hr {
    background-color: #323232;
}

.collapsible-drawer-icon {
    color: #323232;
}

.collapsible-drawer-title {
    font-weight: 600;
    padding: 0;
}

.deletion-button {
    height: auto;
    width: auto;
}
