.remove-item-borrow-list-button {
    height: 20px;
    width: 20px;
}

.inventory-item-button {
    width: 100%;
    white-space: normal !important;
    height: 100%;
}

.in-button-hr {
    margin-top: 2px;
    margin-bottom: 0;
}

.inventory-item-button-content {
    width: 100%;
}

.inventory-item-button-footer {
    font-style: italic;
    text-align: right;
    font-size: 10px;
}

#new-borrowing-modal-confirm-field {
    width: 100%;
}