/* SEARCH BAR BOX SHADOW */
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: #a7885a !important;
}

.custom-select:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: #a7885a !important;
}

.inventory-item {
    width: 100%;
    white-space: normal !important;
    height: 100%;
    padding: 6px 12px 6px 12px;
    color: #a7885a;
    border: #a7885a 1px solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inventory-item-footer {
    font-style: italic;
    text-align: right;
    font-size: 10px;
}

.inventory-item-precision {
    font-size: 12px;
    text-align: left;
}

.inventory-item-name {
    text-align: center;
}

.item-hr {
    margin-top: 0;
    margin-bottom: 3px;
    border-color: #a7885a;
}

#search-hr {
    margin-bottom: 10px;
    margin-top: 0;
}

.no-mb {
    margin-bottom: 0 !important;
}

.search-section {
    border: #a7885a 1px solid;
    border-radius: 7px;
}
